body {
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  gap: 50px;
  padding: 50px;
}

nav {
  display: flex;
  flex-direction: row;
}

footer {
  text-align: center;
}

.page-bg {
  width: 100svw;
  height: 100svh;
  background-position: center;
  background-size: cover;
  padding: 0;
  border: 0;
  margin: 0;
}

.diversity {
  background-image: url("https://inaturalist-open-data.s3.amazonaws.com/photos/413010475/large.jpeg");
}

.wasp-mimics {
  background-image: url("https://inaturalist-open-data.s3.amazonaws.com/photos/151847687/original.jpeg");
}

.larvae {
  background-image: url("https://inaturalist-open-data.s3.amazonaws.com/photos/226995845/original.jpeg");
}

.info-button {
  border: 2px solid white;
  background-color: transparent;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  padding: 2svh 2svw;
}
